.App {
  background-color: #000;
  width: 100%;
  height: auto;
  color: #fff;
}
.section-1{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section-1 > .presentacion > h1{
  font-size: 2.5em;
}
.section-1 > .presentacion > span{
  font-size: 1.2em;
}
.section-1 > .presentacion > a{
  text-decoration: none;
}
.section-1 > .presentacion > a > button{
  background: transparent;
  padding: 5px;
  color: #fff;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border: 1px solid #fff;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}
.section-1 > .presentacion > a > button > svg{
  padding-left: 5px;
}

.section-1 > img{
  height: 300px;
  width: 300px;
  padding: 10px;
  object-fit: cover;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.caja-de-redes > a{
  padding: 5px;
}
.caja-de-redes > svg{
  height: 2em;
  width: 2em;
}